* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

body {
    background:  #282828;
}

@media screen and (max-width: 992px) {

    h2 {
        margin-top: 30px;
        margin-left: 15px;
        text-align: center;
        font-size: 22px;
        color: white;
    }

    input[type=text] {
        appearance: none;
        border: none;
        outline: none;
        border-bottom: .2em solid #282828;
        background: rgba(#282828, .2);
        border-radius: .2em .2em .2em .2em;
        padding: .4em;
        color: #282828;
    }

    .label {
        margin-right: 40px;
        color: white;
    }

    button {
        appearance: none;
        border: .2em solid #282828;
        background: hsl(0 0 0/0);
        padding: 10px 12px;
        color: #282828;
        border-radius: 10px;
        transition: 1s;
        &:hover, &:focus, &:active {
            background: #282828;
            color: #fff;
        }
    }
    
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #404040;
        color: #ffffff;
    }

    .styled-table th, .styled-table td {
        padding: 10px 15px;
        color: #ffffff;
        text-align: center;
        background-color: #404040;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
        background-color: #404040;
    }

    .container-form {
        margin-top: 25px;
        text-align: center;

        background-color: #404040;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0;
    }

    .container-btns {
        margin-top: 25px;
        text-align: center;

        background-color: #404040;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;
    }

    .container-table {
        margin-top: 25px;
        text-align: center;

        background-color: #404040;
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        padding: 20px 0;
    }

}