
* {
    margin-left: auto;
    margin-right: auto;

    font-family: 'Ubuntu', '微軟正黑體', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card1 {
  background-color: #FFBF7C;
  position: relative;
  flex: 1;
  max-width: 500px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card2 {
  background-color: #FECB96;
  position: relative;
  flex: 1;
  max-width: 760px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card3 {
  background-color: #FFD6AC;
  position: relative;
  flex: 1;
  max-width: 1540px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
  .card1 {
    flex: 100%;
    max-width: 600px;
  }

  .card2 {
    flex: 100%;
    max-width: 600px;
  }

  .card3 {
    flex: 100%;
    max-width: 600px;
  }
}